.checked {
  color: tomato;
}
.nav-tabs .nav-link.active {
  font-weight:bold;
  background-color: transparent;
  border-bottom:3px solid #F06529;
  border-right: none;
  border-left: none;
  border-top: none;
}
.chip { 
  margin-top:10px;
  margin-left:5px;
  margin-bottom: 10px;
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #F06529;
}
.chip b{
  color:gray;
}
.chip b:hover{
  color:#7a9ef0;
  text-decoration: underline #7a9ef0;
}



.time-until{
  background-color:crimson;
  font-size:14px;
  color:white;
  padding:3px;
  text-align:center;
}
#time-left {
  border:1px solid crimson;
  color:crimson;
  background-color:white;
  padding:3px;
  font-style: italic;
}